
body {
    background-color: rgb(66, 101, 112);
    margin: 0;
    font-family: Inter;
}

.wrap {
    margin: 2em;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin-top: 1em;
}

nav ul {
    background: white;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    margin: 0;
    list-style: none;
    width: 30%;
    text-align: right;
    padding: 2em;
    transform: translateX(100%);
    transition: 0.5s;



    li {
        margin: 1rem 0;

        &:nth-of-type(1) {
            margin-bottom: 4em;
        }

        a {
            color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 1.5rem;

            &:hover {
                color:rgb(2, 2, 133)
            }
        }
    }
}

.open {
   transform: translateX(0); 
}

#profile-pic {
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    margin-top: 3em;
    font-size: 1.2em;
}

.portfolio-work {
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
}

@media (min-width: 788px) {
    .wrap {
        margin: 0 4em;
    }

    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    .header-left {
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }

    nav ul {
        position: unset;
        background: none;
        display: flex;
        gap: 1em;
        height: auto;
        width: auto;
        transform: translateX(0%);

        li a {
            font-size: 1.2em;
        }
    }
}